// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples
$v-app-loading-text: "Loading";
$v-font-family: "ApercuRegular",Helvetica,Helvetica Neue,Arial,sans-serif;
$v-app-background-color: #ffffff;
// $v-background-color: #eee;
$v-focus-color: #0072C6;
$v-focus-style: 0 0 0 1px $v-focus-color;
$valo-menu-background-color: darken($v-focus-color, 10%);
$v-border: 0 solid v-shade;
$v-border-radius: 0px;
$v-bevel: false;
$v-gradient: false;
$v-shadow: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-textfield-border: 1px solid v-shade;
$v-link-text-decoration: none;
$v-overlay-shadow: 0 0 0 2px #000;
$v-overlay-border-width: 2px; // For IE8
$v-window-shadow: $v-overlay-shadow;
$v-selection-overlay-background-color: #fff;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-panel-border: 2px solid v-shade;

@import "../valo/valo";
//@import "../valo/valo.scss";



@mixin mytheme {
  @include valo;

.login-panel {
	border: 0px;
}

#loginForm {
	width: 100%;
}

.login-button {
	background: none repeat scroll 0 0 border-box #0072c6;
	color: #e7f1f8;
}

.send-button {
	@extend .login-button;
	margin-bottom: 10px;
}

.login-error {
	color: red;
	font-size: 15px;
	text-align: center;
}

.v-slot-menu-bar {
	height: 100px !important;
}

.menu-bar {
	width: 1100px !important;
	margin-left: 10%;
}

.v-slot-menu-bar-not-logged {
	background-color: #3686be;
}

.menu-bar-not-logged .v-button {
	color: white
}

.v-panel {
	border-width: 0px;
	background: none;
}

.menu-item {
	background: none;
	text-align: center;
	width: 200px;
	text-transform: uppercase;
	font-weight: bold;
	height: 100px;
}

.v-slot-menu-item-right {
	float: right
}

.v-slot-menu-item {
	width: 200px;
}

.v-slot-pagedtable {
	padding: 0 px 10px 10px 10px;
}

.v-table, .v-table-header-wrap, .v-table-table, .v-table-row,
	.v-table-row-odd {
	background: none;
}

.v-table-header {
	font-weight: bold;
}

.v-table-row {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05)
}

.v-lazyloadingwrapper {
	width: 100%;
	height: 100%;
}

.v-lazyloadingwrapper-loading { 
	@extend .v-app-loading:before;
	border: none;
}

.app-view {
	background-attachment: fixed;
	background-size: cover;
}

.stats-view {
	@extend .app-view;
	background-image: url("/VAADIN/themes/mytheme/img/Rainbow-Run-2014-018.jpg");
}

.places-view {
	@extend .app-view;
	background-image: url('/VAADIN/themes/mytheme/img/summer-bikes.jpg');
}

.stats-view-stripe {
	@extend .color-stripe;
	background-color: rgb(221,95,50);
}

.stats-view-text {
	@extend .stats-view-stripe;
}

.v-slot-stats-view-workouts {
	background-color: white;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;
	padding-top: 2%;
}

.stats-view-workouts {
	
}

.stats-view-workouts .pagedtable {

}

.stats-view-workouts .v-table .v-button {
	background: none; // background of view button in table row
}

.stats-view .h1 {
	color: white;
	text-align: center;
}

.stats-view .h2 {
	color: white;
	text-align: center;
}

.avatar-img {
	width: 80px;
	height: 80px;
	margin-top: 10px;
	opacity: 0.8
}

.big-font {
	font-size: 2.5em;
	margin: 0;
}

.stats-view-chart {
	@extend .stats-view-stripe;
}

.stats-view-chart .v-expand .v-slot{
	text-align: center
}

.footer {
	font-size: 20px;
}

.footer .v-label {
	text-align: center;
}

.footer .v-button {
	height: 100% !important;
}

.v-slot-footer {
	padding-top: 2%;
}

.footer-copyright {
	margin-top: 10px;
	text-align: center;
	padding: 5px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
	font-size: 15px;
}

.color-stripe {
	opacity: 0.95;
}

.places-view-stripe {
	@extend .color-stripe;
	background-color: rgb(146,176,106);
}

.places-view .h1 {
	margin-bottom: 0px;
	color: white;
}

.places-view-map .link {
	color: white;
	padding-left: 0px;
}

.places-view-map {
	@extend .places-view-stripe;
	min-height: 600px;
}

.places-view-map-half {
	padding: 5% !important;
}

.places-view-map-half-map {
	border-color: white;
	border-style: solid;
	border-width: 3px;
}

.places-view-map-half-text {
	text-align: center;
}
.places-view-map-half-text .h1 {
	text-align: center;
}

.places-view .h2 {
	color: white;
	text-align: center;
}

.v-table-empty .v-table-body {
    background-image: url('/VAADIN/themes/mytheme/img/no-results.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.places-view-workouts {
	@extend .stats-view-workouts;
}

.places-view-chart {
	@extend .places-view-stripe;
}

.places-view-chart .v-expand .v-slot{
	text-align: center;
}

.details-button {
	width: 100%;
	height: 50px;
	text-align: left;
}

.street-view-progress-bar {
	margin: auto;
	width: 50%;
}

.v-slot-street-view-progress-bar {
	text-align: center
}

.street-view-control-pause {
	@extend .street-view-control;
	background-image: url("http://findicons.com/icon/download/67069/gnome_media_playback_pause/64/png");
}

.street-view-control-play {
	@extend .street-view-control;
	background-image: url("http://findicons.com/icon/download/67183/gnome_media_playback_start/64/png");
}

.street-view-control {
	position: absolute;
	height: 100px;
	width: 100px;
	bottom: 0;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.5;
	cursor: hand;
	cursor: pointer
}

.street-view-panel .v-expand {
	padding-top: 0 !important; // hack to overcome weird vaadin default padding
}

.export-button {
	border: 1px solid #afafaf;
}

.feedback-success{
	color: green;
}

.feedback-error {
	color: red;
}

.main-view-login {
	background-color: #3686be;
	color: white;
	padding-top: 50px;
	padding-bottom: 100px;
}

.main-view-login .big {
	font-size: 54px;
	text-align: center
}

.main-view-login .small {
	font-size: 26px;
	text-align: center;
	margin-bottom: 50px;
}

.main-view-login .login-button {
	background-color: #19486a;
	color: white;
	height: 50px;
	width: 250px;
}

.main-view-login .login-controls {
	text-align: center;
	height: 50px;
}

.main-view-login input {
	margin-right: 5px;
	height: 50px;
	width: 240px;
}

.v-slot-login-controls {
	text-align: center;
}

.main-view-geo .h1 {
	text-align: center
}

}
